<!-- _includes/header.html -->
<div class="banner">
  <div class="top-left">
    <div class="title1">
      Australian NeuroSymbolic Systems Workshop
      <span class="year">2025</span>
    </div>
  </div>
  <div class="bottom-right">
    Nov. 10, 2025 <br> Macquarie University, Sydney, Australia
  </div>
</div>

<table class="navigation">
  <tr>
    <td class="navigation">
      <a href="{{ '/' | relative_url }}" class="{% if page.nav == 'home' %}current{% endif %}">Home</a>
    </td>
    <td class="navigation">
      <a href="{{ '/registration/' | relative_url }}" class="{% if page.nav == 'registration' %}current{% endif %}">Registration</a>
    </td>
    <td class="navigation">
      <a href="{{ '/program/' | relative_url }}" class="{% if page.nav == 'program' %}current{% endif %}">Program</a>
    </td>
    <td class="navigation">
      <a href="{{ '/venue/' | relative_url }}" class="{% if page.nav == 'venue' %}current{% endif %}">Venue</a>
    </td>
  </tr>
</table>
